.info {
  position: relative;
  z-index: 3;
  font-size: 18px;
  color: white;

  &__options {
    display: flex;
  }

  &__photo {
    width: 400px;
    height: 400px;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__details {
    margin-left: 160px;
  }

  &__detail {
    margin-top: 20px;

    &:first-child {
      font-size: 44px;
    }
  }

  &__summary {
    display: flex;
    width: 600px;
    margin-top: 80px;
    line-height: 22px;
    align-items: center;
  }

  &__come-back {
    color: white;
    background: none;
    margin-right: 60px;
    font-size: 64px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, 0.808);
    }
  }
}