body,
p,
h3,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.main {
  height: calc(100vh - 80px);
  padding: 40px 120px;
  opacity: 0.7;

  &__substrate {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    opacity: 7;
  }
}
